@page
@model RammsteinFan.Pages.UserPages.AlbumsMainModel
@{
    ViewData["Title"] = "Альбомы";
    ViewData["chapter"] = "Альбомы";
}
<div class="container mt-4">
    <div class="row justify-content-around">
        @foreach (var album in Model.Albums)
        {
            string albumTitle = @album.Key.Substring(0, album.Key.IndexOf('.'));
            <div class="col-5 mb-3" >
                <div class="img-trimming">
                    <img class="border-secondary" src="~/img/photoGalery/Albums/@(album.Key)">
                </div>
                <div class="mt-2">
                    <a class="link-album" asp-page="/UserPages/Albums/ConcreteAlbum" asp-route-title="@albumTitle"><h6>@albumTitle</h6></a>
                    <div class="float-right mr-1">
                        <a class="d-inline-block"  asp-page-handler="SetFavoriteAlbum" asp-route-title="@albumTitle"><div class="likes"></div></a>
                        <label class="lbl-icon">@album.Value</label>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
