@page
@model RammsteinFan.Pages.UserPages.ConcreteAlbumModel
@{
    ViewData["Title"] = "Альбомы";
    ViewData["chapter"] = "Альбомы";
}
<div class="container-fluid" style="padding: 0;">
    <h3>@Model.Album.Title</h3>
    <div class="row justify-content-center">

        <div class="order-sm-2  order-2 col-lg-5 col-md-5 col-sm-5 col-10">
            <p class="fontAlbum">
                @Model.Album.Text
            </p>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-10 order-lg-2 order-md-2">
            <section>
                <form class="d-none" action="#" method="get">
                    <label>
                        Language <select name="lang">
                            <option value="ru">Русский / Russian (ru)</option>
                        </select>
                    </label>
                    <label>
                        Stretching (Video Only)<select name="stretching">
                            <option value="auto" selected>Auto (default)</option>
                            <option value="responsive">Responsive</option>
                            <option value="fill" selected>Fill</option>
                            <option value="none" selected>None (original dimensions)</option>
                        </select>
                    </label>
                </form>
            </section>
            <h4 id="preview"></h4>
            <img class="imgAlbum img-fluid text-center" src="~/img/photoGalery/albums/@(Model.Album.Title).jpg">
            <audio id="main-audio" preload="none" controls width="100%">
                Ваш браузер не поддерживает элемент audio или данная запись отсутствует
                <source src="~/audio/Mein herz brennt.mp3" type="audio/mp3">
            </audio>
        </div>
    </div>
    <div class="row" style="margin-top: 15px;">
        @for (int i = 0; i < Model.Songs.Count(); i++)
        {
            @if (i == 0)
            {
                <div class="col-lg-11 audioBlock selected">
                    <button path="@(Model.Album.Title + "/" + Model.Songs[i]).mp3" class="playBtn audioBtn"></button>
                    <button class="pauseBtn audioBtn"></button>
                    <label class="title">@(Model.Songs[i])</label>
                    <label class="float-right"></label>
                </div>
            }
            else
            {
                <div class="col-lg-11 audioBlock">
                    <button path="@(Model.Album.Title + "/" + Model.Songs[i]).mp3" class="playBtn audioBtn"></button>
                    <button class="pauseBtn audioBtn"></button>
                    <label class="title">@(Model.Songs[i])</label>
                    <label class="float-right">4:57</label>
                </div>
            }
        }
    </div>
</div>
<script src="~/js/audio.js"></script>
<script>
    let buttons = document.getElementsByClassName("playBtn");
    for (let elem of buttons) {
        elem.onclick = function () { playClick(event) };
    }
    let pauseButtons = document.getElementsByClassName("pauseBtn");
    for (let elem of pauseButtons) {
        elem.onclick = function () { pauseClick(event) };
    }

    let divs = document.getElementsByClassName("audioBlock");
    for (let elem of divs) {
        elem.onmouseenter = function () { enterAudio(event) }
        elem.onmouseleave = function () { leaveAudio(event) }
    }
</script>
<script src="~/js/mediaelement-and-player.min.js"></script>
<script src="~/js/lang/ru.js"></script>
<script src="~/js/demo.js"></script>